[Unit]
Description=Remove DHCP-assigned gateway
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart= /home/lab-user/scripts/sase-traffic-generators/remove_dhcp_gateway.sh

[Install]
WantedBy=multi-user.target
